<ul class="nav nav-pills mb-3">
    <li class="nav-item"><a class="nav-link {% if active == 'groups' %}active{% endif %}" href="/admin/directories/groups">Группы</a></li>
    <li class="nav-item"><a class="nav-link {% if active == 'subjects' %}active{% endif %}" href="/admin/directories/subjects">Предметы</a></li>
    <li class="nav-item"><a class="nav-link {% if active == 'teachers' %}active{% endif %}" href="/admin/directories/teachers">Преподаватели</a></li>
    <li class="nav-item"><a class="nav-link {% if active == 'rooms' %}active{% endif %}" href="/admin/directories/rooms">Аудитории</a></li>
</ul>
